/*Variables*/
/*Color Variables*/
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line-color: hsl(215, 32%, 27%);

/*Font Variables*/
$outfit: 'Outfit', sans-serif;